tags/2.0/schema/mineralOccurrence.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:er="http://xmlns.earthresourceml.org/EarthResource/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.1" xmlns:gsmlem="http://xmlns.geosciml.org/EarthMaterial/3.1" xmlns:gsmlu="http://xmlns.geosciml.org/Utilities/3.0" xmlns:swe="http://www.opengis.net/swe/2.0" elementFormDefault="qualified" targetNamespace="http://xmlns.earthresourceml.org/EarthResource/2.0" version="2.0.0">
  <annotation>
    <documentation>The MineralOccurrence package explicitly models the properties of those features commonly stored in mineral resource databases.  These are economic or sub-economic concentrations of commodities that may, but need not, have had mining activity associated with them. 

The MineralOccurrence package key points are:
1) Describes Earth Resources independent of associated human activities (i.e. mining); 
2) Caters for description of Earth Resource using mineral deposit models that describe the actual deposit type; mineral systems that describe the processes associated with deposit formation; and supergene processes; 
3) Utilises GeoSciML Mapped Feature to describe spatial representation and Earth Material to describe host, raw and associated materials; 
4) Provides the ability to describe commodity resources formally or informally.</documentation>
  </annotation>
  <include schemaLocation="earthresourceml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
  <import namespace="http://xmlns.geosciml.org/EarthMaterial/3.1" schemaLocation="earthMaterial.xsd"/>
  <import namespace="http://xmlns.geosciml.org/GeoSciML-Core/3.1" schemaLocation="geosciml-core.xsd"/>
  <import namespace="http://xmlns.geosciml.org/Utilities/3.0" schemaLocation="http://schemas.geosciml.org/cgiutilities/3.0/cgiUtilities.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Commodity" substitutionGroup="gml:AbstractFeature" type="er:CommodityType">
    <annotation>
      <documentation>-- Definition --
The material of economic interest in the EarthResource</documentation>
    </annotation>
  </element>
  <complexType name="CommodityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="source" type="gml:ReferenceType">
            <annotation>
              <documentation>The deposit/resource from which the commodity comes.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">er:EarthResource</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">er:commodityDescription</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="commodity" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
The earth resource commodity (eg Cu, Au, Dimension Stone).</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">er:CommodityCodeValue</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element name="commodityImportance" type="er:ImportanceValueType">
            <annotation>
              <documentation>-- Definition --
The importance of the deposit for the commodity.

-- Description --
Several commodities may be of interest inside a deposit. A deposit may be a very large deposit for one commodity (this commodity is the main one) and only a medium-sized deposit for some other commodities. Such a ranking is based on a statistical study of a large set of deposits throughout the world to ensure that it is valid. It is made using histograms allowing for each commodity to define class boundaries and what is a super large, a large, a medium-sized etc deposit for this commodity. This classification is based on the potential or endowment: reserves + resources.</documentation>
            </annotation>
          </element>
          <element name="commodityRank" type="integer">
            <annotation>
              <documentation>-- Definition --
The rank of the commodity. 

-- Description --
Commodity rank is based on endowment, i.e. (cumulated) past production + reserves (not including past production) + resources, or if the deposit has never been exploited, reserves + resources. A statistical comparison with a large set of deposits throughout the world enables the determination of the deposit as class A (very large), B (large), or C (medium-sized) for a particular commodity, and also which commodity is the main one, the 2nd one, etc. The rank of a commodity is thus not based on political or economic considerations.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CommodityPropertyType">
    <sequence minOccurs="0">
      <element ref="er:Commodity"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CommodityMeasure" substitutionGroup="gml:AbstractObject" type="er:CommodityMeasureType">
    <annotation>
      <documentation>-- Definition --
A measure of the amount of the commodity based on a Reserve, Resource or Endowment calculation.</documentation>
    </annotation>
  </element>
  <complexType name="CommodityMeasureType">
    <sequence>
      <element maxOccurs="unbounded" name="commodityOfInterest" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Definition --
The commodity to which the CommodityMeasure refers.</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">er:Commodity</targetElement>
          </appinfo>
        </annotation>
      </element>
      <element name="commodityAmount">
        <annotation>
          <documentation>-- Definition --
The amount of the commodity</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="cutOffGrade">
        <annotation>
          <documentation>-- Definition --
The cut off grade used for calculating the commodity measure.

-- Description --
The lowest concentration of a mineralized material that qualifies as ore in a given deposit (adapted from Neuendorf, 2005).</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="grade">
        <annotation>
          <documentation>-- Definition --
The grade of thecommodity.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="CommodityMeasurePropertyType">
    <sequence>
      <element ref="er:CommodityMeasure"/>
    </sequence>
  </complexType>
  <element abstract="true" name="EarthResource" substitutionGroup="gsml:GeologicFeature" type="er:EarthResourceType">
    <annotation>
      <documentation>-- Definition --
The kinds of observable or inferred phenomena required to classify economic and non-economic earth resources</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="EarthResourceType">
    <complexContent>
      <extension base="gsml:GeologicFeatureType">
        <sequence>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was supersed or retired in the spatial data set.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="resourceExtraction" type="er:MiningActivityPropertyType">
            <annotation>
              <documentation>-- Definition --
One or more periods of mining activity of the earth resource. 

-- Description --
Indicates if this resource is the subject of exploitation, and if so of which type. Depending on several factors (type of mineralization, size, grade, shape, depth, etc.) one or several (combined) methods may be used, including off site methods, surface mining (among which methods related to the exploitation of alluvial/elluvial deposits), underground mining. Knowledge about these methods is important as it may be strongly related to the quantity and type of wastes and environmental impacts generated by the extraction.</documentation>
            </annotation>
          </element>
          <element name="classification" type="er:MineralDepositModelPropertyType">
            <annotation>
              <documentation>-- Definition --
Classification of the EarthResource

-- Description --
Systematically arranged information describing the essential attributes of a class of mineral deposits. May be empirical (descriptive) or theoretical (genetic).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="supergeneModification" type="er:SupergeneProcessesPropertyType">
            <annotation>
              <documentation>-- Definition --
A supergene process which would allow a metal enrichment produced by the chemical remobilisation of metals in an oxidised or transitional environment.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="composition" type="er:EarthResourceMaterialPropertyType">
            <annotation>
              <documentation>-- Definition --
The material forming the EarthResource.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="oreAmount" type="er:OreMeasurePropertyType">
            <annotation>
              <documentation>-- Definition --
The estimated or calculated amount of ore with the identification of the commodities contained and their grade.</documentation>
            </annotation>
          </element>
          <element name="geneticDescription" type="er:MineralSystemPropertyType">
            <annotation>
              <documentation>-- Definition --
Provides a description for how the EarthResource formed.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">er:resultantResource</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="child">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">er:parent</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="er:EarthResource"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="parent" type="er:EarthResourcePropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">er:child</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="commodityDescription" type="er:CommodityPropertyType">
            <annotation>
              <documentation>-- Definition --
The commodities present in the resource, ranked by importance order.

-- Description --
Determining the rank of a commodity is not as simple as it may look: not only the tonnage (expressed in tons of metal) has to be taken into account, but also the scarcity and thus the price of the commodity. A deposit containing 500,000 t Cu and only 50 t Au will be classified as an Au-(Cu) deposit.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">er:source</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="explorationHistory" type="er:ExplorationActivityPropertyType">
            <annotation>
              <documentation>-- Definition --
Chronological list of surveys undertaken to better define the potential of a mineral occurrence. 

-- Description --
Recaps the work which has been done from regional reconnaissance, surface detailed prospecting, subsurface prospecting, assessment of the resource, to evaluation of the ore deposit. Depending on the work done on occurrences and prospects, allows an estimate of the 'still to be discovered' potential of an area. A detailed assessment with no result would lead to a pessimistic opinion.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="sourceReference">
            <annotation>
              <documentation>-- Definition --
The source or reference for the Earth Resource.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">gmd2:CI_Citation</targetElement>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMetadataPropertyType">
                  <sequence/>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="dimension" type="er:EarthResourceDimensionPropertyType">
            <annotation>
              <documentation>-- Definition --
The size/volume of the earth resource</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="expression">
            <annotation>
              <documentation>-- Definition --
An indicator of whether an EarthResource appears on the surface or has been detected under cover rocks.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="swe:Category"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="form">
            <annotation>
              <documentation>-- Definition --
The orebodies typical physical and structural relationship to wallrocks and associated rocks.

-- Description --
EXAMPLE: stratiform, stratabound, cross-cutting, vein, intrusive contact etc</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="swe:Category"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="linearOrientation" type="gsmlu:CGI_LinearOrientationPropertyType">
            <annotation>
              <documentation>-- Definition --
The linear orientation of the Earth Resource.

-- Description --
EXAMPLE: Plunge etc</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="planarOrientation" type="gsmlu:CGI_PlanarOrientationPropertyType">
            <annotation>
              <documentation>-- Definition --
The planar orientation of the Earth Resource.

-- Description --
EXAMPLE: Dip/Dip Direction etc</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="shape">
            <annotation>
              <documentation>-- Definition --
The typical geometrical shape of the Earth Resource.

-- Description --
EXAMPLE: lenticular, pipelike, irregular etc</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="swe:Category"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EarthResourcePropertyType">
    <sequence minOccurs="0">
      <element ref="er:EarthResource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EarthResourceDimension" substitutionGroup="gml:AbstractObject" type="er:EarthResourceDimensionType">
    <annotation>
      <documentation>-- Definition --
Describes the size and volume of the earth resource</documentation>
    </annotation>
  </element>
  <complexType name="EarthResourceDimensionType">
    <sequence>
      <element maxOccurs="unbounded" name="area">
        <annotation>
          <documentation>-- Definition --
The area of the Earth Resource</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="depth">
        <annotation>
          <documentation>-- Definition --
The depth of the Earth Resource</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="length">
        <annotation>
          <documentation>-- Definition --
The length of the Earth Resource</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="width">
        <annotation>
          <documentation>-- Definition --
The width of the Earth Resource</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="EarthResourceDimensionPropertyType">
    <sequence>
      <element ref="er:EarthResourceDimension"/>
    </sequence>
  </complexType>
  <element name="EarthResourceMaterial" substitutionGroup="gml:AbstractObject" type="er:EarthResourceMaterialType">
    <annotation>
      <documentation>-- Definition --
Identifies the material found in the earth or produced from earth material that is of economic interest.</documentation>
    </annotation>
  </element>
  <complexType name="EarthResourceMaterialType">
    <sequence>
      <element name="earthResourceMaterialRole" type="er:EarthResourceMaterialRoleValueType">
        <annotation>
          <documentation>-- Definition --
The role the EarthMaterial plays in the EarthResourceDescription (eg host rock, alteration product, primary, secondary).</documentation>
        </annotation>
      </element>
      <element name="material">
        <annotation>
          <documentation>-- Definition --
Uses EarthMaterial to describe the EarthResourceMaterial material.</documentation>
        </annotation>
        <complexType>
          <choice minOccurs="0">
            <element ref="gsmlem:InorganicFluid"/>
            <element ref="gsmlem:Mineral"/>
            <element ref="gsmlem:OrganicMaterial"/>
            <element ref="gsmlem:RockMaterial"/>
          </choice>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
          <attributeGroup ref="gml:OwnershipAttributeGroup"/>
        </complexType>
      </element>
      <element name="proportion">
        <annotation>
          <documentation>-- Definition --
The proportion of the EarthRespourceMaterial in the EarthResourceDescription.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="EarthResourceMaterialPropertyType">
    <sequence>
      <element ref="er:EarthResourceMaterial"/>
    </sequence>
  </complexType>
  <simpleType name="EarthResourceMaterialRoleValueType">
    <annotation>
      <documentation>-- Definition --
The role the EarthMaterial plays in the EarthResourceDescription.</documentation>
    </annotation>
    <union memberTypes="er:EarthResourceMaterialRoleValueEnumerationType er:EarthResourceMaterialRoleValueOtherType"/>
  </simpleType>
  <simpleType name="EarthResourceMaterialRoleValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
The role the EarthMaterial plays in the EarthResourceDescription.</documentation>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="EarthResourceMaterialRoleValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Endowment" substitutionGroup="er:OreMeasure" type="er:EndowmentType">
    <annotation>
      <documentation>-- Definition --
The quantity of a mineral (or a group of minerals for industrial rocks) in accumulations (deposits) meeting specified physical characteristics such as quality, size and depth.

-- Description --
Usually includes Resources, as unlike the latter, it does not have to have prospects for "eventual economic extraction". It often includes the total amount of a commodity originally introduced to a particular location during the deposit forming processes - and thus can include resources, reserves, past production and mining and metallurgical losses.</documentation>
    </annotation>
  </element>
  <complexType name="EndowmentType">
    <complexContent>
      <extension base="er:OreMeasureType">
        <sequence>
          <element name="includesReserves" type="boolean">
            <annotation>
              <documentation>-- Definition --
A flag indicating if the estimate includes the reserves value.</documentation>
            </annotation>
          </element>
          <element name="includesResources" type="boolean">
            <annotation>
              <documentation>-- Definition --
A flag indicating if the estimate includes the resources value.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EndowmentPropertyType">
    <sequence>
      <element ref="er:Endowment"/>
    </sequence>
  </complexType>
  <element name="ExplorationActivity" substitutionGroup="gml:AbstractFeature" type="er:ExplorationActivityType">
    <annotation>
      <documentation>-- Definition --
A period of exploration activity.</documentation>
    </annotation>
  </element>
  <complexType name="ExplorationActivityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="activityDuration" type="gml:TimePeriodPropertyType">
            <annotation>
              <documentation>-- Definition --
Period, or extent in time, of  the exploration activity. 

-- Description --
The beginning of the activity links the TM_Period to the TM_Instant at which it starts. The ending links the TM_Period to the TM_Instant at which it ends. For a variety of reasons the position of the TM_Instant designated by 'begin' or 'end' may be indeterminate.</documentation>
            </annotation>
          </element>
          <element name="activityType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
The type of exploration activity.

-- Description --
EXAMPLE: geological mapping, drilling, geophysical surveys, geochemical mapping etc.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="explorationResult" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
The result of the exploration activity.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExplorationActivityPropertyType">
    <sequence minOccurs="0">
      <element ref="er:ExplorationActivity"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ImportanceValueType">
    <annotation>
      <documentation>-- Definition --
Values indicating the importance of the commodity for the Earth Resource.

-- Description --
Such a ranking is based on a statistical study of a large set of deposits throughout the world to ensure that it is valid. It is made using histograms allowing for each commodity to define class boundaries and what is a very large, a large, a medium-sized etc deposit for this commodity.. This classification is based on the potential or endowment: reserves + resources.</documentation>
    </annotation>
    <union memberTypes="er:ImportanceValueEnumerationType er:ImportanceValueOtherType"/>
  </simpleType>
  <simpleType name="ImportanceValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Values indicating the importance of the commodity for the Earth Resource.

-- Description --
Such a ranking is based on a statistical study of a large set of deposits throughout the world to ensure that it is valid. It is made using histograms allowing for each commodity to define class boundaries and what is a very large, a large, a medium-sized etc deposit for this commodity.. This classification is based on the potential or endowment: reserves + resources.</documentation>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="ImportanceValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="MineralDepositModel" substitutionGroup="gml:AbstractGML" type="er:MineralDepositModelType">
    <annotation>
      <documentation>-- Definition --
Systematically arranged information describing the essential attributes of a class of mineral deposits. It may be empirical (descriptive) or theoretical (genetic).</documentation>
    </annotation>
  </element>
  <complexType name="MineralDepositModelType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element maxOccurs="unbounded" name="mineralDepositGroup" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
A grouping of mineral deposits defined by generic characteristics.

-- Description --
EXAMPLE: host rock, host structure, commodity, association with similar mineral processes e.g. porphyry. Regional, national and more universal lists e.g. Cox and Singer 1986</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="mineralDepositType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
Style of mineral occurrence or deposit. 

--Description --
Generally a local or regional term. Should be referenced for definitions and descriptions. Single deposit terms may form member of a Mineral Deposit Group in local and regional schemas.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MineralDepositModelPropertyType">
    <sequence minOccurs="0">
      <element ref="er:MineralDepositModel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MineralOccurrence" substitutionGroup="er:EarthResource" type="er:MineralOccurrenceType">
    <annotation>
      <documentation>&lt;font color="#400040"&gt;-- Definition --&lt;/font&gt;
&lt;font color="#400040"&gt;A mineral accumulation in the lithosphere. &lt;/font&gt;</documentation>
    </annotation>
  </element>
  <complexType name="MineralOccurrenceType">
    <complexContent>
      <extension base="er:EarthResourceType">
        <sequence>
          <element name="type" type="er:MineralOccurrenceTypeValueType">
            <annotation>
              <documentation>-- Definition --
The type of mineral occurrence. 

-- Description --
EXAMPLE: prospect, occurrence, mineral deposit, ore deposit.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="endusePotential" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
The end-use potential of the mineral.

-- Description --
EXAMPLE:  for energy, fertilizer, building raw material.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MineralOccurrencePropertyType">
    <sequence minOccurs="0">
      <element ref="er:MineralOccurrence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MineralOccurrenceTypeValueType">
    <annotation>
      <documentation>-- Definition --
The type of mineral occurrence</documentation>
    </annotation>
    <union memberTypes="er:MineralOccurrenceTypeValueEnumerationType er:MineralOccurrenceTypeValueOtherType"/>
  </simpleType>
  <simpleType name="MineralOccurrenceTypeValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
The type of mineral occurrence</documentation>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="MineralOccurrenceTypeValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="MineralSystem" substitutionGroup="gml:AbstractFeature" type="er:MineralSystemType">
    <annotation>
      <documentation>-- Definition --
All geological features that control the generation and preservation of mineral deposits.</documentation>
    </annotation>
  </element>
  <complexType name="MineralSystemType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="resultantResource" type="er:EarthResourcePropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">er:geneticDescription</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="associationType">
            <annotation>
              <documentation>-- Definition --
High level  term describing the characteristics of a mineral system, indicative of the processes involved and resulting deposits.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="swe:Category"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MineralSystemPropertyType">
    <sequence minOccurs="0">
      <element ref="er:MineralSystem"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="OreMeasure" substitutionGroup="gml:AbstractObject" type="er:OreMeasureType">
    <annotation>
      <documentation>-- Definition --
The estimate of the Reserve, Resource or Endowment ore amount.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="OreMeasureType">
    <sequence>
      <element maxOccurs="unbounded" name="measureDetails" type="er:CommodityMeasurePropertyType">
        <annotation>
          <documentation>-- Definition --
A measure of the amount of each commodity, based on a reserve, resource or endowment calculation. 

-- Description --
This measure is obtained by multiplying the ore tonnage by the average grade of the commodity within the ore (generally expressed in tons of metal).</documentation>
        </annotation>
      </element>
      <element name="classificationMethodUsed" type="gml:CodeType">
        <annotation>
          <documentation>-- Definition --
Means of calculating the measurement. 

-- Description --
EXAMPLE: JORC, PERC, Unspecified, UNESCO/World Bank and the Canadian CIM.</documentation>
        </annotation>
      </element>
      <element name="date" type="gml:TimeGeometricPrimtiveProertyType">
        <annotation>
          <documentation>-- Definition --
Date of calculated or estimated value.

-- Description --
This may be a single date or a range.</documentation>
        </annotation>
      </element>
      <element name="dimension" type="er:EarthResourceDimensionPropertyType">
        <annotation>
          <documentation>-- Definition --
Size of the body used in the calculation.</documentation>
        </annotation>
      </element>
      <element name="proposedExtractionMethod">
        <annotation>
          <documentation>-- Definition --
The method proposed to extract the commodity.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:Category"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="sourceReference">
        <annotation>
          <documentation>-- Definition --
The reference for the OreMeasure values.</documentation>
          <appinfo>
            <targetElement xmlns="http://www.opengis.net/gml/3.2">null:CI_Citation</targetElement>
          </appinfo>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMetadataPropertyType">
              <sequence/>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="ore">
        <annotation>
          <documentation>-- Definition --
Amount of ore.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="OreMeasurePropertyType">
    <sequence>
      <element ref="er:OreMeasure"/>
    </sequence>
  </complexType>
  <element name="Reserve" substitutionGroup="er:OreMeasure" type="er:ReserveType">
    <annotation>
      <documentation>-- Definition --
The economically mineable part of a Measured and/or Indicated Mineral Resource. 

-- Description --
It includes diluting materials and allowances for losses, which may occur when the material is mined. "Marketable Coal Reserves" maybe reported in conjunction with, but not instead of, reports of Ore (Coal) Reserves. "Saleable product" (e.g. for industrial minerals) can be reported in conjunction with ore reserve.
Synonyms: Ore Reserve; Coal Reserve (s); Diamond (or gemstone) Ore Reserve; Mineral Reserves (not preferred, should be stated that used to mean the same as JORC&amp;rsquo;s Ore Reserve); Mineable production estimates</documentation>
    </annotation>
  </element>
  <complexType name="ReserveType">
    <complexContent>
      <extension base="er:OreMeasureType">
        <sequence>
          <element name="category" type="er:ReserveCategoryValueType">
            <annotation>
              <documentation>-- Definition --
The level of confidence of the estimate (proved or probable).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReservePropertyType">
    <sequence>
      <element ref="er:Reserve"/>
    </sequence>
  </complexType>
  <simpleType name="ReserveCategoryValueType">
    <annotation>
      <documentation>-- Definition --
The level of confidence of the estimate of the reserve.</documentation>
    </annotation>
    <union memberTypes="er:ReserveCategoryValueEnumerationType er:ReserveCategoryValueOtherType"/>
  </simpleType>
  <simpleType name="ReserveCategoryValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
The level of confidence of the estimate of the reserve.</documentation>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="ReserveCategoryValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Resource" substitutionGroup="er:OreMeasure" type="er:ResourceType">
    <annotation>
      <documentation>-- Definition --
An accumulation of material of intrinsic economic interest in or on the Earth&amp;rsquo;s crust in such form, quality and quantity that there are reasonable prospects for economic extraction.

-- Description --
Synonyms: Mineral Resource; Coal Resource (s); Diamond (Gemstone) Resource; Potentially Mineable Mineralisation.</documentation>
    </annotation>
  </element>
  <complexType name="ResourceType">
    <complexContent>
      <extension base="er:OreMeasureType">
        <sequence>
          <element name="category" type="er:ResourceCategoryValueType">
            <annotation>
              <documentation>-- Definition --
Indication of whether the resource is measured, indicated,  or inferred.</documentation>
            </annotation>
          </element>
          <element name="includesReserves" type="boolean">
            <annotation>
              <documentation>-- Definition --
A flag indicating whether the estimate of resources includes reserve values.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ResourcePropertyType">
    <sequence>
      <element ref="er:Resource"/>
    </sequence>
  </complexType>
  <simpleType name="ResourceCategoryValueType">
    <annotation>
      <documentation>-- Definition --
Indication of whether the resource is measured, indicated, or inferred.</documentation>
    </annotation>
    <union memberTypes="er:ResourceCategoryValueEnumerationType er:ResourceCategoryValueOtherType"/>
  </simpleType>
  <simpleType name="ResourceCategoryValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Indication of whether the resource is measured, indicated, or inferred.</documentation>
    </annotation>
    <restriction base="string"/>
  </simpleType>
  <simpleType name="ResourceCategoryValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="SupergeneProcesses" substitutionGroup="gml:AbstractObject" type="er:SupergeneProcessesType">
    <annotation>
      <documentation>-- Definition --
Metal enrichment produced by the chemical remobilisation of metals in an oxidised or transitional environment. Does a supergene process exist (Y/N).</documentation>
    </annotation>
  </element>
  <complexType name="SupergeneProcessesType">
    <sequence>
      <element name="depth">
        <annotation>
          <documentation>-- Definition --
The depth at which the supergene processes occurred.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:QuantityRange"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element maxOccurs="unbounded" name="material">
        <annotation>
          <documentation>-- Definition --
The description of the material (rock, soil) that constitutes the supergene process.</documentation>
        </annotation>
        <complexType>
          <choice minOccurs="0">
            <element ref="gsmlem:InorganicFluid"/>
            <element ref="gsmlem:Mineral"/>
            <element ref="gsmlem:OrganicMaterial"/>
            <element ref="gsmlem:RockMaterial"/>
          </choice>
          <attributeGroup ref="gml:AssociationAttributeGroup"/>
          <attributeGroup ref="gml:OwnershipAttributeGroup"/>
        </complexType>
      </element>
      <element name="type">
        <annotation>
          <documentation>-- Definition --
Type of supergene process. Examples are oxidation, leaching, enrichment etc.</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="swe:Category"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="SupergeneProcessesPropertyType">
    <sequence>
      <element ref="er:SupergeneProcesses"/>
    </sequence>
  </complexType>
  <element name="UNFClassification" substitutionGroup="er:OreMeasure" type="er:UNFClassificationType">
    <annotation>
      <documentation>-- Definition --
The categorisation of mineral reserves and resources according to the UN Framework Classification (2009).</documentation>
    </annotation>
  </element>
  <complexType name="UNFClassificationType">
    <complexContent>
      <extension base="er:OreMeasureType">
        <sequence>
          <element name="category" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
The UNFC value for the mineral reserves and resources (2009).</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UNFClassificationPropertyType">
    <sequence>
      <element ref="er:UNFClassification"/>
    </sequence>
  </complexType>
</schema>
