trunk/portrayal/schema/earthresourceml-portrayal.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:gmlsf="http://www.opengis.net/gmlsf" 
	xmlns:mo="http://xmlns.earthresourceml.org/earthresourceml-portrayal/1.0" 
	targetNamespace="http://xmlns.earthresourceml.org/earthresourceml-portrayal/1.0" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	
<!-- ===================================================================================== 
	
	    Simple features schema for mineral occurrences designed for simple WFS and WMS
	
	    Ollie Raymond (oliver.raymond@ga.gov.au) on behalf of the
	    CGI EarthResourceML Working Group
	    30 JUNE 2014                   
	
     ===================================================================================== -->
	
	<annotation>
		<documentation>A package to allow delivering EarthResourceML in a Simple Feature Level 0 format.  
			All cardinalities for free text string attributes are 0 to 1. Mandatory attributes are URI links to controlled vocabulary terms,
			which may be links to standard null values if vocabulary terms are unavailable.
			This package is designed to allow ready import into simple clients such as GIS and spreadsheet tools.			
			The package also provides a format for delivering responses to WMS queries.</documentation>
		<appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd</gmlsf:GMLProfileSchema>
		</appinfo>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	
<!-- =========================================================== -->
<!--                        Mineral Occurrence View                                                                                 -->	
<!-- =========================================================== -->
	<element name="MinOccView" type="mo:MinOccViewType" substitutionGroup="gml:_Feature">
		<annotation>
			<documentation>Class to specify a simple view of an EarthResource feature for use in Web Mapping Service GetFeatureInfo responses or GML3.1 Simple Feature Level 0 Web Feature Services.</documentation>
		</annotation>
	</element>
	<complexType name="MinOccViewType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identifier" type="string">
						<annotation>
							<documentation>A URI to identify the mineral occurrence feature.</documentation>
						</annotation>
					</element>
					<element name="name" type="string" minOccurs="0">
						<annotation>
							<documentation>Name of the mineral occurrence, if applicable.</documentation>
						</annotation>
					</element>
					<element name="earthResourceType" type="string" minOccurs="0">
						<annotation>
							<documentation>Captures the type of mineral occurrence. Examples may include prospect, occurrence, mineral deposit, ore deposit, field, district, lode.</documentation>
						</annotation>
					</element>
					<element name="commodity" type="string" minOccurs="0">
						<annotation>
							<documentation>The major commodity or commodities found at the EarthResource. Text string values allows concatenation of multiple commodities if required (eg, 'Cu, Au, Pb').</documentation>
						</annotation>
					</element>
					<element name="mineName" type="string" minOccurs="0">
						<annotation>
							<documentation>Name of a mine associated with this EarthResource.</documentation>
						</annotation>
					</element>
					<element name="geologicHistory" type="string" minOccurs="0">
						<annotation>
							<documentation>Text (possibly formatted with formal syntax) description of the age of the mineral occurrence (where age is a sequence of events and may include process and environment information).</documentation>
						</annotation>
					</element>
					<element name="mineralDepositModel" type="string" minOccurs="0">
						<annotation>
							<documentation>A simple text label to classify the EarthResource.  Systematically arranged information describing the essential attributes of a class of mineral deposits. May be empirical (descriptive) or theoretical (genetic).</documentation>
						</annotation>
					</element>
					<element name="earthResourceShape" type="string" minOccurs="0">
						<annotation>
							<documentation>The typical geometric shape of the Earth Resource (e.g. lenticular, pipelike, irregular etc).</documentation>
						</annotation>
					</element>
					<element name="hostGeologicUnit" type="string" minOccurs="0">
						<annotation>
							<documentation>Name or description of the host geologic unit for the EarthResource.</documentation>
						</annotation>
					</element>
					<element name="totalOreAmount" type="string" minOccurs="0">
						<annotation>
							<documentation>Amount of ore. Text string datatype so units of measure can be included in the value.</documentation>
						</annotation>
					</element>
					<element name="totalReserves" type="string" minOccurs="0">
						<annotation>
							<documentation>The economically mineable part of a Measured and/or Indicated Mineral Resource. It includes diluting materials and allowances for losses, 
								which may occur when the material is mined. ‘Marketable Coal Reserves’ maybe reported in conjunction with, but not instead of, reports of Ore (Coal) 
								Reserves. ‘Saleable product’ (e.g. for industrial minerals) can be reported in conjunction with ore reserve. Synonyms: Ore Reserve; Coal Reserve (s); 
								Diamond (or gemstone) Ore Reserve; Mineral Reserves (not preferred, should be stated that used to mean the same as JORC’s Ore Reserve); Mineable 
								production estimates. Text string datatype so units of measure can be included in value</documentation>
						</annotation>
					</element>
					<element name="totalResources" type="string" minOccurs="0">
						<annotation>
							<documentation>A concentration or occurrence of material of intrinsic economic interest in or on the Earth’s crust in such form, quality and quantity 
								that there are reasonable prospects for eventual economic extraction. Text string datatype so units of measure can be included in the value.  
								Synonyms: Mineral Resource; Coal Resource (s); Diamond (Gemstone) Resource; Potentially Mineable Mineralisation</documentation>
						</annotation>
					</element>
					<element name="totalEndowment" type="string" minOccurs="0">
						<annotation>
							<documentation>Endowment refers to that quantity of a mineral in accumulations (deposits) meeting specified physical characteristics such as quality, 
								size and depth. Usually includes Resources, as unlike the latter, it does not have to have prospects for "eventual economic extraction". 
								It often includes the total amount of a commodity originally introduced to a particular location during the deposit forming processes - and thus 
								can include resources, reserves, past production and mining and metallurgical losses. Text string datatype so units of measure can be included in 
								value.</documentation>
						</annotation>
					</element>
					<element name="observationMethod" type="string" minOccurs="0">
						<annotation>
							<documentation>Description of the method that was used to identify the location of the feature. Examples: global positioning system, published map, field observation, downhole survey, aerial photography, field survey.</documentation>
						</annotation>
					</element>
					<element name="positionalAccuracy" type="string" minOccurs="0">
						<annotation>
							<documentation>Text description of the accuracy of the feature location. Examples: accurate, approximate, diagrammatic, indefinite, unknown, 5 metres, 1 kilometre.</documentation>
						</annotation>
					</element>
					<element name="source" type="string" minOccurs="0">
						<annotation>
							<documentation>A description of the data source for this EarthResource.</documentation>
						</annotation>
					</element>
					<element name="earthResourceType_uri" type="string">
						<annotation>
							<documentation>A URI identifier for a value from a controlled vocabulary for the type of mineral occurrence.</documentation>
						</annotation>
					</element>
					<element name="commodityClassifier_uri" type="string">
						<annotation>
							<documentation>A URI to identify the major commodity found at the EarthResource to allow thematic mapping of commodities.</documentation>
						</annotation>
					</element>	
					<element name="representativeAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a controlled concept specifying the most representative geologic age interval for the EarthResource. 
								This will be defined entirely at the discretion of the data provider and  may be a single event selected from the EarthResource's 
								geologic history or a value summarising the all or part of it's history.</documentation>
						</annotation>
					</element>
					<element name="representativeOlderAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a value from a controlled vocabulary specifying the most representative older age value for the EarthResource.</documentation>
						</annotation>
					</element>
					<element name="representativeYoungerAge_uri" type="string">
						<annotation>
							<documentation>URI referring to a value from a controlled vocabulary specifying the most representative younger age value for the EarthResource.</documentation>
						</annotation>
					</element>
					<element name="mineralDepositModel_uri" type="string">
						<annotation>
							<documentation>URI to a value from a controlled vocabulary allow creating thematic maps based on the MineralDepositModel property.</documentation>
						</annotation>
					</element>
					<element name="hostGeologicUnit_uri" type="string">
						<annotation>
							<documentation>URI identifier for the host geologic unit for the EarthResource.</documentation>
						</annotation>
					</element>
					<element name="earthResourceSpecification_uri" type="string">
						<annotation>
							<documentation>URI referring to an EarthResourceML "EarthResource" feature that describes the instance in detail. 
								Mandatory property - if not value is provided then a URI referring to a controlled concept explaining why the 
								value is nil must be provided.</documentation>
						</annotation>
					</element>
					<element name="shape" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>Geometry defining the extent of the feature of interest.</documentation>
						</annotation>
					</element>
					<any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MinOccViewPropertyType">
		<sequence minOccurs="0">
			<element ref="mo:MinOccView"/>
		</sequence>
	</complexType>
</schema>
